$content-width: 1188px;

// grid
$cols: 8;
$grid-padding: 6px;

// directions
$c: center;
$m: middle;
$r: right;
$l: left;
$t: top;
$b: bottom;

// sizes
$svg-icon-size: 35px;
$svg-icon-padding: 8px;
$header-height: 86px;
$header-font-size: 18px;
$menu-activity-border-size: 2px;
$btn-font-size: 12px;
$page-title-font-size: 66px;
$page-title-line-spacing: 1px;
$share-block-height: 175px;
$share-avatar-width: 196px;
$footer-height: 177px;


$gray: #796E65;
$gray-dark: #3D3935;
$gray-light: #BFB8AF;
$red: #E4002B;
$blue: #0064D2;
$green: #84BD00;
$orange: #F6AF02;

// common colors hover states
$gray-hover: #91D000;
$gray-dark-hover: #91D000;
$gray-light-hover: #91D000;
$red-hover: #FF494D;
$blue-hover: #0074F4;
$green-hover: #91D000;
$orange-hover: #FFC600;

// backgrounds
$body-bg: #f3f3f3;
$header-bg: #ffffff;
$share-block-bg: #ffffff;
$footer-bg: #ffffff;
